table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

table#articles_id tr:nth-child(even) {
	background-color: #eee;
}

table#articles_id tr:nth-child(odd) {
	background-color: #fff;
}

table#articles_id th {
	background-color: black;
	color: white;
}